<section class="builder-options description description-wide">
	
	<label>##key_value_label##</label> <br>
	
	<table class="table" ng-show="active.##key_value##.length > 0">

		<thead>
			<tr>
				<td>Key</td>
				<td>Value</td>
				<td></td>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="query_arg in active.##key_value## track by $index">
				<td class="col-xs-5" width="45%">
					<input ng-keydown="navigate($event, active.id, $index, 'key')" ng-enter="addObject('##key_value##');" focus-on="{{active.id}}_key_{{$index}}" type="text" class="form-control col-sm-6 input-sm" ng-model="query_arg.key" placeholder="Enter key" />
				</td>

				<td class="col-xs-6" width="45%">
					<textarea focus-on="{{active.id}}_value_{{$index}}" type="text" class="form-control col-sm-6 input-sm" ng-model="query_arg.value" placeholder="Enter value"></textarea>
				</td>

				<td class="col-xs-1" width="5%">
					<button type="button" class="button" ng-click="removeObject('##key_value##', $index);"><span class="dashicons dashicons-trash"></span></button>
				</td>
			</tr>
		</tbody>
	</table>

	<button type="button" class="button" ng-click="addObject('##key_value##');">Add ##key_value_label##</button>

</section>